## Ficheros Pozo Izquierdo

In [1]:
import pandas as pd

In [36]:
torre_me = '../../database/torrePozoIzquierdo_JUL_AGO_2004/torreME.txt'
torre_ms = '../../database/torrePozoIzquierdo_JUL_AGO_2004/torreMS.txt'

### Torre ME

In [38]:
parse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y %H:%M:%S')
df_torre_me = pd.read_csv(torre_me, skiprows=12,  
                          delim_whitespace=True, 
                          header=None, 
                          names=['day', 'time', 'direccion_viento', 'v_10', 'v_20', 'v_40'],
                          parse_dates=[['day', 'time']], 
                          date_parser=parse,
                          index_col=0)

In [39]:
df_torre_me.head()

                     direccion_viento  v_10  v_20  v_40
day_time
2004-07-01 00:00:00              55.0   9.3   9.9   9.6
2004-07-01 00:01:00              54.0   8.7   9.4   9.6
2004-07-01 00:02:00              54.0   8.7   9.3   9.8
2004-07-01 00:03:00              53.0   8.8   9.3   9.6
2004-07-01 00:04:00              52.0   9.9  10.4  10.2

In [47]:
print('**** Registro minutal')
print('Número total de registros: {0}'.format(df_torre_me.shape[0]))
print('Número total de series: {0}'.format(df_torre_me.shape[1]-1))

**** Registro minutal
Número total de registros: 87123
Número total de series: 3

In [52]:
print('**** Periodo de muestreo')
print('Inicio: {0}'.format(df_torre_me.index.min()))
print('Inicio: {0}'.format(df_torre_me.index.max()))

**** Periodo de muestreo
Inicio: 2004-07-01 00:00:00
Inicio: 2004-08-31 23:58:00

### Torre MS

In [66]:
df_torre_ms = pd.read_csv(torre_ms, skiprows=16,  
                          delim_whitespace=True, 
                          header=None, 
                          names=['day-time', 'irradiancia_difusa_horizontal',
                                 'irradiancia_global_horizontal', 'temperatura_ambiente', 
                                  'irradiancia_UV', 'PB', 'Pluviometro'],
                          #parse_dates=['day-time], 
                          #date_parser=parse,
                          #index_col=0
                         )
df_torre_ms

                     day-time  irradiancia_difusa_horizontal  \
01/07/2004 00:01:00      91.9                            0.0
           00:02:00      91.9                            0.0
           00:03:00      91.9                            0.0
           00:04:00      91.9                            0.0
           00:05:00      91.9                            0.0
           00:06:00      91.9                            0.0
           00:07:00      91.9                            0.0
           00:08:00      91.9                            0.0
           00:09:00      91.9                            0.0
           00:10:00      91.9                            0.0
           00:11:00      91.9                            0.0
           00:12:00      91.9                            0.0
           00:13:00      91.9                            0.0
           00:14:00      91.9                            0.0
           00:15:00      91.9                            0.0
           00:16:00      91.9                            0.0
           00:17:00      91.9                            0.0
           00:18:00      91.9                            0.0
           00:19:00      91.9                            0.0
           00:20:00      91.9                            0.0
           00:21:00      91.9                            0.0
           00:22:00      91.9                            0.0
           00:23:00      91.9                            0.0
           00:24:00      91.9                            0.0
           00:25:00      91.9                            0.0
           00:26:00      91.9                            0.0
           00:27:00      91.9                            0.0
           00:28:00      91.9                            0.0
           00:29:00      91.9                            0.0
           00:30:00      91.9                            0.0
...                       ...                            ...
31/08/2004 23:29:00      81.1                            0.0
           23:30:00      81.1                            0.0
           23:31:00      81.1                            0.0
           23:32:00      81.1                            0.0
           23:33:00      80.9                            0.0
           23:34:00      80.2                            0.0
           23:35:00      80.3                            0.0
           23:36:00      80.2                            0.0
           23:37:00      80.2                            0.0
           23:38:00      80.2                            0.0
           23:39:00      79.6                            0.0
           23:40:00      79.5                            0.0
           23:41:00      79.2                            0.0
           23:42:00      78.7                            0.0
           23:43:00      78.7                            0.0
           23:44:00      78.7                            0.0
           23:45:00      78.3                            0.0
           23:46:00      78.7                            0.0
           23:47:00      78.8                            0.0
           23:48:00      78.3                            0.0
           23:49:00      77.2                            0.0
           23:50:00      77.2                            0.0
           23:51:00      76.9                            0.0
           23:52:00      76.4                            0.0
           23:53:00      75.9                            0.0
           23:54:00      76.2                            0.0
           23:55:00      75.7                            0.0
           23:56:00      75.7                            0.0
           23:57:00      75.3                            0.0
           23:58:00      74.8                            0.0

                     irradiancia_global_horizontal  temperatura_ambiente  \
01/07/2004 00:01:00                            0.0                  22.2
           00:02:00                            0.0                  22.2
           00:03:00                            0.0                  22.2
           00:04:00                            0.0                  22.2
           00:05:00                            0.0                  22.2
           00:06:00                            0.0                  22.2
           00:07:00                            0.0                  22.2
           00:08:00                            0.0                  22.2
           00:09:00                            0.0                  22.2
           00:10:00                            0.0                  22.2
           00:11:00                            0.0                  22.1
           00:12:00                            0.0                  22.1
           00:13:00                            0.0                  22.1
           00:14:00                            0.0                  22.1
           00:15:00                            0.0                  22.1
           00:16:00                            0.0                  22.1
           00:17:00                            0.0                  22.1
           00:18:00                            0.0                  22.1
           00:19:00                            0.0                  22.1
           00:20:00                            0.0                  22.1
           00:21:00                            0.0                  22.1
           00:22:00                            0.0                  22.2
           00:23:00                            0.0                  22.1
           00:24:00                            0.0                  22.2
           00:25:00                            0.0                  22.1
           00:26:00                            0.0                  22.2
           00:27:00                            0.0                  22.2
           00:28:00                            0.0                  22.2
           00:29:00                            0.0                  22.2
           00:30:00                            0.0                  22.2
...                                            ...                   ...
31/08/2004 23:29:00                            0.0                  25.2
           23:30:00                            0.0                  25.2
           23:31:00                            0.0                  25.2
           23:32:00                            0.0                  25.1
           23:33:00                            0.0                  25.2
           23:34:00                            0.0                  25.2
           23:35:00                            0.0                  25.2
           23:36:00                            0.0                  25.2
           23:37:00                            0.0                  25.2
           23:38:00                            0.0                  25.1
           23:39:00                            0.0                  25.1
           23:40:00                            0.0                  25.2
           23:41:00                            0.0                  25.2
           23:42:00                            0.0                  25.2
           23:43:00                            0.0                  25.2
           23:44:00                            0.0                  25.2
           23:45:00                            0.0                  25.2
           23:46:00                            0.0                  25.2
           23:47:00                            0.0                  25.2
           23:48:00                            0.0                  25.1
           23:49:00                            0.0                  25.3
           23:50:00                            0.0                  25.3
           23:51:00                            0.0                  25.2
           23:52:00                            0.0                  25.3
           23:53:00                            0.0                  25.4
           23:54:00                            0.0                  25.2
           23:55:00                            0.0                  25.3
           23:56:00                            0.0                  25.3
           23:57:00                            0.0                  25.2
           23:58:00                            0.0                  25.4

                     irradiancia_UV      PB  Pluviometro
01/07/2004 00:01:00             0.0  1016.9          0.0
           00:02:00             0.0  1016.9          0.0
           00:03:00             0.0  1016.9          0.0
           00:04:00             0.0  1016.9          0.0
           00:05:00             0.0  1016.9          0.0
           00:06:00             0.0  1016.9          0.0
           00:07:00             0.0  1016.9          0.0
           00:08:00             0.0  1016.9          0.0
           00:09:00             0.0  1016.9          0.0
           00:10:00             0.0  1016.9          0.0
           00:11:00             0.0  1016.9          0.0
           00:12:00             0.0  1016.9          0.0
           00:13:00             0.0  1016.9          0.0
           00:14:00             0.0  1016.9          0.0
           00:15:00             0.0  1016.9          0.0
           00:16:00             0.0  1016.9          0.0
           00:17:00             0.0  1016.9          0.0
           00:18:00             0.0  1016.8          0.0
           00:19:00             0.0  1016.8          0.0
           00:20:00             0.0  1016.9          0.0
           00:21:00             0.0  1016.9          0.0
           00:22:00             0.0  1016.9          0.0
           00:23:00             0.0  1016.9          0.0
           00:24:00             0.0  1016.9          0.0
           00:25:00             0.0  1016.9          0.0
           00:26:00             0.0  1016.9          0.0
           00:27:00             0.0  1016.9          0.0
           00:28:00             0.0  1016.9          0.0
           00:29:00             0.0  1016.9          0.0
           00:30:00             0.0  1016.9          0.0
...                             ...     ...          ...
31/08/2004 23:29:00             0.0  1018.7          0.0
           23:30:00             0.0  1018.7          0.0
           23:31:00             0.0  1018.6          0.0
           23:32:00             0.0  1018.7          0.0
           23:33:00             0.0  1018.7          0.0
           23:34:00             0.0  1018.7          0.0
           23:35:00             0.0  1018.7          0.0
           23:36:00             0.0  1018.6          0.0
           23:37:00             0.0  1018.6          0.0
           23:38:00             0.0  1018.6          0.0
           23:39:00             0.0  1018.7          0.0
           23:40:00             0.0  1018.7          0.0
           23:41:00             0.0  1018.6          0.0
           23:42:00             0.0  1018.7          0.0
           23:43:00             0.0  1018.7          0.0
           23:44:00             0.0  1018.6          0.0
           23:45:00             0.0  1018.7          0.0
           23:46:00             0.0  1018.7          0.0
           23:47:00             0.0  1018.6          0.0
           23:48:00             0.0  1018.6          0.0
           23:49:00             0.0  1018.7          0.0
           23:50:00             0.0  1018.6          0.0
           23:51:00             0.0  1018.6          0.0
           23:52:00             0.0  1018.6          0.0
           23:53:00             0.0  1018.6          0.0
           23:54:00             0.0  1018.5          0.0
           23:55:00             0.0  1018.5          0.0
           23:56:00             0.0  1018.5          0.0
           23:57:00             0.0  1018.5          0.0
           23:58:00             0.0  1018.4          0.0

[87120 rows x 7 columns]