# Series Temporales: creación de datasets

**Objetivo:**

Creación de dataset para **algoritmos de Machine Learning** y estrategía de entrenamiento para series temporales tipo Ahead Prediction

**Apartados**

 1.- Cargamos los dataset (Wind and PV Capacity)
 
 2.- Funciones para la creación de features y label
 
 3.- Creación lista con los diferentes dataset ahead
 
 4.- Cada DF se copia a CSV.
 
    Número de CSV: n_series_temporales * H
    
**Número de funciones:** 4

In [55]:
import os
import numpy as np
import pandas as pd

# 1.- Data Set -- Wind and PV Capacity --

## Wind capacity

In [14]:
PATH = '../data/renewablesNinja'
PLOT_PATH = '../../plots/experiments/'
FOLDER = 'ninja_europe_wind'
FILE = 'renewables_ninja_europe_wind_output_1_current.csv'
FILE_PV = 'ninja_europe_pv_sarah.csv'

fileName = os.path.join(PATH, FOLDER, FILE)

In [8]:
dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y %H:%M')

windCurrent = pd.read_csv(fileName, 
                          parse_dates=['GMT'], date_parser=dateparse, 
                          index_col=0)
windCurrent.head()

,Austria,Belgium,Bulgaria,Croatia,Cyprus,Czech Republic,Denmark,Estonia,Finland,France,...,Netherlands,Norway,Poland,Portugal,Romania,Slovakia,Slovenia,Spain,Sweden,Switzerland
GMT,,,,,,,,,,,,,,,,,,,,,
1985-01-01 00:00:00,0.058673,0.502539,0.597301,0.192928,0.078246,0.163293,0.219672,0.074725,0.366605,0.262500,...,0.487281,0.373055,0.187184,0.254569,0.319624,0.031699,0.233739,0.357391,0.266999,0.080952
1985-01-01 01:00:00,0.051473,0.536551,0.593594,0.182456,0.073624,0.174472,0.229487,0.075825,0.358066,0.271736,...,0.524175,0.360592,0.186973,0.226412,0.311763,0.031273,0.228339,0.334591,0.263941,0.094747
1985-01-01 02:00:00,0.047168,0.575349,0.584599,0.169839,0.057452,0.189036,0.245597,0.076584,0.353883,0.285842,...,0.557647,0.351483,0.184407,0.209310,0.298303,0.030340,0.222214,0.313906,0.261618,0.114087
1985-01-01 03:00:00,0.046772,0.618309,0.560153,0.158150,0.046010,0.197187,0.268387,0.075107,0.362064,0.307607,...,0.583784,0.356610,0.178373,0.200416,0.275352,0.027062,0.221755,0.283218,0.267271,0.137718
1985-01-01 04:00:00,0.049825,0.651812,0.534090,0.141470,0.043563,0.206275,0.296421,0.073350,0.375112,0.328046,...,0.594067,0.367233,0.168056,0.195278,0.253577,0.027707,0.213890,0.252073,0.277248,0.152246

### wind capacity España

In [10]:
es_wc = windCurrent[['Spain']]
es_wc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 262968 entries, 1985-01-01 00:00:00 to 2014-12-31 23:00:00
Data columns (total 1 columns):
Spain    262968 non-null float64
dtypes: float64(1)
memory usage: 4.0 MB

## PV capacity

In [28]:
PATH = '../data/renewablesNinja'
PLOT_PATH = '../../plots/experiments/'
FOLDER = 'ninja_europe_pv'
FILE = 'ninja_europe_pv_sarah.csv'

fileName = os.path.join(PATH, FOLDER, FILE)
fileName

'../data/renewablesNinja/ninja_europe_pv/ninja_europe_pv_sarah.csv'

In [35]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

europa_pv_sarah = pd.read_csv(fileName, 
                              parse_dates=['date'], 
                              date_parser=dateparse, 
                              index_col=0)
europa_pv_sarah.head()

,AL,AT,BA,BE,BG,CH,CY,CZ,DE,DK,...,MT,NL,NO,PL,PT,RO,RS,SE,SI,SK
date,,,,,,,,,,,,,,,,,,,,,
1985-01-01 00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1985-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1985-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1985-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1985-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### PV Capacity para españa

In [36]:
es_pv = europa_pv_sarah[['ES']]

# 2. - Selección de features

In [50]:
def features_generator(ts, feature_window=10, horizont=1, padding=0):
    """
    Generator of features
    
    ts: array
    feature_window: number of points to split the ts
    horizont: ahead
    padding: ???
    """
    timesteps = len(ts) - (feature_window + horizont + padding - 1)
    
    features = np.zeros((timesteps, feature_window), dtype = np.float32)
    
    for t in range(padding, timesteps):
        # features
        features[t][0: feature_window] = ts[t : t+feature_window]
        
    return features


def labels_generator(ts, feature_window=10, horizont=1, padding=0):
    """
    Generatoe of label using ahead prediction strategy
    
    ts: array
    feature_window: number of points to split the ts
    horizont: ahead
    padding: ???
    """
    timesteps = len(ts) - (feature_window + horizont + padding - 1)
    
    labels = np.zeros((timesteps), dtype=np.float32)
    
    for t in range(padding, timesteps):
        # labels
        offset = t + feature_window + horizont - 1
        labels[t] = ts[offset]
        
    return labels

In [57]:
def create_aheadPrediction_dataset(timeSeries,
                                   window_size=10,
                                   H=24,
                                   padding=0):
    """
    Create a list of dataframe. Each DF is ML dataset with 
    number of features same of window_size, and label the 
    ahead value.
    
    timeSeries: ts array
    window_size: number of points to split the ts
    H: horizon, range(len(H)) will be all possible horizon
    padding: 
    """
    # lista vacia
    dataSets = []
    
    for h in range(1, H+1):
        features = features_generator(timeSeries, feature_window=window_size, 
                                      horizont=h, padding=0)
        labels = labels_generator(timeSeries, feature_window=window_size, 
                                  horizont=h, padding=0)
    
        df = pd.DataFrame(features)
    
        df['h_{0}'.format(h)] = labels
    
        dataSets.append(df)
        
    # if toCSV == True: from DF to CSV
        
    return dataSets

# 3.- Creación de features

## Viento

In [52]:
ts = es_wc['Spain'].values
ts

array([ 0.357391,  0.334591,  0.313906, ...,  0.263694,  0.2728  ,
        0.275655])

In [58]:
aheadDataset = create_aheadPrediction_dataset(ts, window_size=10, H=24)

In [59]:
aheadDataset[0].head()

,0,1,2,3,4,5,6,7,8,9,h_1
0,0.357391,0.334591,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115
1,0.334591,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028
2,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285
3,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285,0.167597
4,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285,0.167597,0.175644

In [61]:
aheadDataset[1].head()

,0,1,2,3,4,5,6,7,8,9,h_2
0,0.357391,0.334591,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164028
1,0.334591,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.163285
2,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.167597
3,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285,0.175644
4,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285,0.167597,0.175602

In [62]:
aheadDataset[2].head()

,0,1,2,3,4,5,6,7,8,9,h_3
0,0.357391,0.334591,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.163285
1,0.334591,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.167597
2,0.313906,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.175644
3,0.283218,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285,0.175602
4,0.252073,0.228629,0.215182,0.205017,0.187585,0.167853,0.164115,0.164028,0.163285,0.167597,0.193291

## PV

In [65]:
ts_pv = es_pv['ES'].values
ts_pv

array([ 0.,  0.,  0., ...,  0.,  0.,  0.])

In [66]:
aheadDatasetPv = create_aheadPrediction_dataset(ts_pv, window_size=10, H=24)

In [67]:
aheadDatasetPv[0].head()

,0,1,2,3,4,5,6,7,8,9,h_1
0,0.0,0.0,0.0,0.0,0.00,0.000,0.000,0.000,0.020,0.095,0.155
1,0.0,0.0,0.0,0.0,0.00,0.000,0.000,0.020,0.095,0.155,0.194
2,0.0,0.0,0.0,0.0,0.00,0.000,0.020,0.095,0.155,0.194,0.221
3,0.0,0.0,0.0,0.0,0.00,0.020,0.095,0.155,0.194,0.221,0.237
4,0.0,0.0,0.0,0.0,0.02,0.095,0.155,0.194,0.221,0.237,0.216

In [68]:
aheadDatasetPv[1].head()

,0,1,2,3,4,5,6,7,8,9,h_2
0,0.0,0.0,0.0,0.0,0.00,0.000,0.000,0.000,0.020,0.095,0.194
1,0.0,0.0,0.0,0.0,0.00,0.000,0.000,0.020,0.095,0.155,0.221
2,0.0,0.0,0.0,0.0,0.00,0.000,0.020,0.095,0.155,0.194,0.237
3,0.0,0.0,0.0,0.0,0.00,0.020,0.095,0.155,0.194,0.221,0.216
4,0.0,0.0,0.0,0.0,0.02,0.095,0.155,0.194,0.221,0.237,0.155

In [69]:
aheadDatasetPv[2].head()

,0,1,2,3,4,5,6,7,8,9,h_3
0,0.0,0.0,0.0,0.0,0.00,0.000,0.000,0.000,0.020,0.095,0.221
1,0.0,0.0,0.0,0.0,0.00,0.000,0.000,0.020,0.095,0.155,0.237
2,0.0,0.0,0.0,0.0,0.00,0.000,0.020,0.095,0.155,0.194,0.216
3,0.0,0.0,0.0,0.0,0.00,0.020,0.095,0.155,0.194,0.221,0.155
4,0.0,0.0,0.0,0.0,0.02,0.095,0.155,0.194,0.221,0.237,0.098

# 4.- Volcado de los dataset a csv

In [113]:
def from_pandas_to_csv(df, pathFileName):
    """
    
    df: df which wants to CSV file form.
    pathFileName: path 
    """
    # se incluye el tipo de formato: CSV
    pathFileName = '{0}.csv'.format(pathFileName)
    
    # se ejecuta: from DF to CSV
    df.to_csv(pathFileName, sep=';',
              index=False)
    
    print('Written file at {0}'.format(pathFileName))

### WC

In [111]:
for h, df in enumerate(aheadDataset):
    print(h+1)
    PATH_SINK = '/Users/tmorales/tmp'
    fileName = 'WC-ES-1985-2014-aheadPrediction-h-{0}'.format(h+1)
    path = os.path.join(PATH_SINK, fileName)
    
    from_pandas_to_csv(df, path)

1
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-1.csv
2
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-2.csv
3
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-3.csv
4
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-4.csv
5
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-5.csv
6
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-6.csv
7
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-7.csv
8
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-8.csv
9
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-9.csv
10
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-10.csv
11
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-11.csv
12
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-12.csv
13
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-13.csv
14
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-14.csv
15
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-15.csv
16
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-16.csv
17
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-17.csv
18
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-18.csv
19
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-19.csv
20
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-20.csv
21
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-21.csv
22
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-22.csv
23
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-23.csv
24
Written file at /Users/tmorales/tmp/WC-ES-1985-2014-aheadPrediction-h-24.csv

### PV Capacity

In [112]:
for h, df in enumerate(aheadDatasetPv):
    print('Ahead = {0}'.format(h+1))
    PATH_SINK = '/Users/tmorales/tmp'
    fileName = 'PV-ES-1985-2014-aheadPrediction-h-{0}'.format(h+1)
    path = os.path.join(PATH_SINK, fileName)
    
    from_pandas_to_csv(df, path)

Ahead = 1
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-1.csv
Ahead = 2
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-2.csv
Ahead = 3
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-3.csv
Ahead = 4
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-4.csv
Ahead = 5
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-5.csv
Ahead = 6
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-6.csv
Ahead = 7
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-7.csv
Ahead = 8
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-8.csv
Ahead = 9
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-9.csv
Ahead = 10
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-10.csv
Ahead = 11
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-11.csv
Ahead = 12
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-12.csv
Ahead = 13
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-13.csv
Ahead = 14
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-14.csv
Ahead = 15
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-15.csv
Ahead = 16
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-16.csv
Ahead = 17
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-17.csv
Ahead = 18
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-18.csv
Ahead = 19
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-19.csv
Ahead = 20
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-20.csv
Ahead = 21
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-21.csv
Ahead = 22
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-22.csv
Ahead = 23
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-23.csv
Ahead = 24
Written file at /Users/tmorales/tmp/PV-ES-1985-2014-aheadPrediction-h-24.csv